.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(228, 220, 220) ;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 20px;
}


.cart-container{
    
    margin-top: 96px;
}
@media screen and (max-width:760px) {
    
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
}